{% extends 'base.html.twig' %}

{% block title %}New Race{% endblock %}

{% block body %}
<div class="container text-center w-25 mt-5 p-4 border border-success rounded">
    <h1 class="m-3">Add new Race</h1>

    {{ include('race/_form.html.twig') }}

</div>

{% endblock %}
